<h3>Update Employee</h3>
<div style="width: 400px;">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" type="text" class="form-control"
        id="first_name" required [(ngModel)]="first_name" name="first_name" formControlName="first_name">
      <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
        <div *ngIf="f.first_name.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Job</label>
      <input type="text" class="form-control" id="job" required [(ngModel)]="job" name="job" formControlName="job">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
  </form>
</div>